In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("agaricus-lepiota.data", header=None)

In [22]:
#number of missing values per column

df.isin(["?"]).sum()

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11    2480
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
dtype: int64

In [23]:
df.isin(["?"]).sum(axis=1).value_counts()

#here 0 would mean 0 missing value
# 1 would mean 1 missing value

0    5644
1    2480
Name: count, dtype: int64

In [24]:
#it would be ideal to drop the particular column cause we dont wanna drop 2.4k records. that's why 

newdf = df.drop(11, axis=1)

In [25]:
newdf.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20,
       21, 22],
      dtype='int64')

In [26]:
us_census = pd.read_csv("adult-1.data", header=None)

In [27]:
us_census

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [28]:
#Categorical: 1, 5, 6, 7, 8, 9, 13
#Ordinal: 3, 14
#Interval:
#Ratio: 0, 2, 4, 10, 11, 12

In [29]:
us_census[1].value_counts()

1
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [30]:
#LOOK INTO PD.GET_DUMMIES() FUNCTION. IT IS OF PANDAS.

new_df = us_census[[0,2,4,10,11,12]]

t1 = pd.get_dummies(us_census[1])


new_df = pd.concat([new_df, t1], axis=1)

In [31]:
cats = [ 1, 5, 6, 7, 8, 9, 13 ]

for cat in cats:
    t1 = pd.get_dummies(us_census[cat])
    new_df = pd.concat([new_df, t1], axis=1)
    
new_df

,0,2,4,10,11,12,?,Federal-gov,Local-gov,Never-worked,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,39,77516,13,2174,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,50,83311,13,0,0,13,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,38,215646,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,53,234721,7,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,28,338409,13,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32557,40,154374,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32558,58,151910,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32559,22,201490,9,0,0,20,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32560,52,287927,9,15024,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [32]:
new_df

,0,2,4,10,11,12,?,Federal-gov,Local-gov,Never-worked,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,39,77516,13,2174,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,50,83311,13,0,0,13,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,38,215646,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,53,234721,7,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,28,338409,13,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32557,40,154374,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32558,58,151910,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32559,22,201490,9,0,0,20,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
32560,52,287927,9,15024,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [33]:
us_census[3].unique().tolist()

[' Bachelors',
 ' HS-grad',
 ' 11th',
 ' Masters',
 ' 9th',
 ' Some-college',
 ' Assoc-acdm',
 ' Assoc-voc',
 ' 7th-8th',
 ' Doctorate',
 ' Prof-school',
 ' 5th-6th',
 ' 10th',
 ' 1st-4th',
 ' Preschool',
 ' 12th']

In [34]:
edu_map = {
 ' Preschool:': 1, 
 ' 1st-4th': 2, 
 ' 5th-6th': 3,
 ' 7th-8th': 4,
 ' 9th': 5,
 ' 10th': 6,
 ' 11th': 7,
 ' 12th': 8,
 ' HS-grad': 9,
 ' Some-college': 10,
 ' Assoc-acdm': 11,
 ' Assoc-voc': 11,
 ' Bachelors': 12,
 ' Masters': 13,
 ' Prof-school': 14,
 ' Doctorate': 15
 
}

In [35]:
new_df['Education'] = us_census[3].map(edu_map)

In [36]:
new_df

,0,2,4,10,11,12,?,Federal-gov,Local-gov,Never-worked,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,Education
0,39,77516,13,2174,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,12.0
1,50,83311,13,0,0,13,False,False,False,False,...,False,False,False,False,False,False,True,False,False,12.0
2,38,215646,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,9.0
3,53,234721,7,0,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,7.0
4,28,338409,13,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,False,False,False,False,...,False,False,False,False,False,False,True,False,False,11.0
32557,40,154374,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,9.0
32558,58,151910,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,9.0
32559,22,201490,9,0,0,20,False,False,False,False,...,False,False,False,False,False,False,True,False,False,9.0
32560,52,287927,9,15024,0,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,9.0