In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("sales.csv")

In [6]:
#problem 1
print(dataset['product_type'].value_counts())
#as we can see, framed poster has the highest count.

product_type
Framed Poster      2351
Canvas Painting    1215
Poster Print        403
Name: count, dtype: int64

In [8]:
#problem 2
dataset['purchase_date']

0       01/01/2020
1       01/01/2020
2       01/01/2020
3       01/01/2020
4       01/01/2020
           ...
3964    12/31/2020
3965    12/31/2020
3966    12/31/2020
3967    12/31/2020
3968    12/31/2020
Name: purchase_date, Length: 3969, dtype: object

In [9]:
dataset2 = dataset.copy()

In [11]:
dataset2[:5]

  purchase_date     product_type
0    01/01/2020  Canvas Painting
1    01/01/2020    Framed Poster
2    01/01/2020    Framed Poster
3    01/01/2020    Framed Poster
4    01/01/2020  Canvas Painting

In [12]:
dataset2['Month'] = pd.DatetimeIndex(dataset2['purchase_date']).month

In [14]:
dataset2[:5]

  purchase_date     product_type  Month
0    01/01/2020  Canvas Painting      1
1    01/01/2020    Framed Poster      1
2    01/01/2020    Framed Poster      1
3    01/01/2020    Framed Poster      1
4    01/01/2020  Canvas Painting      1

In [18]:
dataset2['Month'].value_counts()

Month
4     382
3     365
10    346
5     345
7     345
12    342
2     323
6     323
1     321
9     319
8     288
11    270
Name: count, dtype: int64

In [19]:
dataset2['Month'] = pd.DatetimeIndex(dataset2['purchase_date']).month_name()

In [21]:
dataset2['Month'].value_counts()

Month
April        382
March        365
October      346
May          345
July         345
December     342
February     323
June         323
January      321
September    319
August       288
November     270
Name: count, dtype: int64