In [39]:
import pandas as pd 

import numpy as np

In [40]:
dataset = pd.read_csv("adult-1.data", header = None)

In [41]:
#list of attributes
#Ratio: 0, 2, 4, 10, 11, 12 => no need to change these
#Categorical: 1, 5, 6, 7, 8, 9, 13 => they need to be transformed
#Ordinal: 3, 14 => they are mapped


#DOING PART 1:
dataset.isin([" ?"]).any()

0     False
1      True
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
dtype: bool

In [42]:
dataset.isin([" ?"]).sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [43]:
dataset = dataset[ ~ dataset.isin([" ?"]).any(axis=1)]

In [44]:
#data transformation now.

new_dataset = dataset[[0, 2, 4, 10, 11, 12]]

In [45]:
dataset[1].value_counts()

1
Private             22286
Self-emp-not-inc     2499
Local-gov            2067
State-gov            1279
Self-emp-inc         1074
Federal-gov           943
Without-pay            14
Name: count, dtype: int64

In [46]:
cols = [1, 5, 6, 7, 8, 9, 13]
for c in cols:
    new_dataset = pd.concat([new_dataset, pd.get_dummies(dataset[c]).astype(int)], axis=1)

In [47]:
new_dataset[:5]

,0,2,4,10,11,12,Federal-gov,Local-gov,Private,Self-emp-inc,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
edu_map = {
 ' Preschool:': 1, 
 ' 1st-4th': 2, 
 ' 5th-6th': 3,
 ' 7th-8th': 4,
 ' 9th': 5,
 ' 10th': 6,
 ' 11th': 7,
 ' 12th': 8,
 ' HS-grad': 9,
 ' Some-college': 10,
 ' Assoc-acdm': 11,
 ' Assoc-voc': 11,
 ' Bachelors': 12,
 ' Masters': 13,
 ' Prof-school': 14,
 ' Doctorate': 15
 
}


new_dataset[3] = dataset[3].map(edu_map)

In [51]:
new_dataset[:5]

,0,2,4,10,11,12,Federal-gov,Local-gov,Private,Self-emp-inc,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,3
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,12.0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,12.0
2,38,215646,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,9.0
3,53,234721,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,1,0,0,7.0
4,28,338409,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,12.0

In [52]:

inc = {" <=50K":0, " >50K":1}

new_dataset[14] = dataset[14].map(inc)

In [53]:
new_dataset[:5]

,0,2,4,10,11,12,Federal-gov,Local-gov,Private,Self-emp-inc,...,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,3,14
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,12.0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,12.0,0
2,38,215646,9,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,0,9.0,0
3,53,234721,7,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,0,7.0,0
4,28,338409,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,12.0,0

In [54]:
#STARTING PART 2 HERE:

In [60]:
d = pd.read_csv("googleplaystore.csv")

In [61]:
d = d.dropna()

In [63]:
#Categorical: Category, Type, Content Rating, Genres, Current Ver
#Ratio: Rating, Reviews, Size, Installs, Price
#Ordinal: Android Ver
#Interval: Last Updated

#to drop? : App

In [69]:
new_d = d.drop('App', axis=1)

In [72]:
new_d[:5]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up