In [1]:
#will be performign the clustering on the dataset Country-data.csv 

import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, AgglomerativeClustering

In [2]:
df = pd.read_csv("Country-data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     167 non-null    object
 1   child_mort  167 non-null    float64
 2   exports     167 non-null    float64
 3   health      167 non-null    float64
 4   imports     167 non-null    float64
 5   income      167 non-null    int64
 6   inflation   167 non-null    float64
 7   life_expec  167 non-null    float64
 8   total_fer   167 non-null    float64
 9   gdpp        167 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 13.2+ KB

In [4]:
df.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200

In [6]:
countries = df['country']
features = df.drop('country', axis=1)

#standardizing the values.
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

In [7]:
kmeans = KMeans(n_clusters=2, random_state=42, n_init=10)
kmeans_labels = kmeans.fit_predict(scaled_features)

#careaing the result.
kmeans_df = pd.DataFrame({'country': countries, 'ClusterID': kmeans_labels})
kmeans_df = kmeans_df.sort_values(by='ClusterID')

#saving in csv 
kmeans_df.to_csv('KMeans_K2_clusters.csv', index=False)
kmeans_df.head()

             country  ClusterID
58           Germany          0
82            Kuwait          0
134  Slovak Republic          0
135         Slovenia          0
79        Kazakhstan          0

In [ ]:
# when k == 3
kmeans3 = KMeans(n_clusters=3, random_state=42, n_init=10)
labels3 = kmeans3.fit_predict(scaled_features)
df_k3 = pd.DataFrame({'Country': countries, 'ClusterID': labels3}).sort_values(by='ClusterID')
df_k3.to_csv('KMeans_k3.csv', index=False)

In [ ]:

# when k ==4
kmeans4 = KMeans(n_clusters=4, random_state=42, n_init=10)
labels4 = kmeans4.fit_predict(scaled_features)
df_k4 = pd.DataFrame({'Country': countries, 'ClusterID': labels4}).sort_values(by='ClusterID')
df_k4.to_csv('KMeans_k4.csv', index=False)

In [10]:
#when k == 6
kmeans6 = KMeans(n_clusters=6, random_state=42, n_init=10)
labels6 = kmeans6.fit_predict(scaled_features)
df_k6 = pd.DataFrame({'Country': countries, 'ClusterID': labels6}).sort_values(by='ClusterID')
df_k6.to_csv('KMeans_k6.csv', index=False)

In [11]:
#agg cluter with k == 2
agg2 = AgglomerativeClustering(n_clusters=2)
agg_labels2 = agg2.fit_predict(scaled_features)
df_agg2 = pd.DataFrame({'Country': countries, 'ClusterID': agg_labels2}).sort_values(by='ClusterID')
df_agg2.to_csv('Agglomerative_k2.csv', index=False)

#agg cluter with k == 3
agg3 = AgglomerativeClustering(n_clusters=3)
agg_labels3 = agg3.fit_predict(scaled_features)
df_agg3 = pd.DataFrame({'Country': countries, 'ClusterID': agg_labels3}).sort_values(by='ClusterID')
df_agg3.to_csv('Agglomerative_k3.csv', index=False)

#agg cluter with k == 4
agg4 = AgglomerativeClustering(n_clusters=4)
agg_labels4 = agg4.fit_predict(scaled_features)
df_agg4 = pd.DataFrame({'Country': countries, 'ClusterID': agg_labels4}).sort_values(by='ClusterID')
df_agg4.to_csv('Agglomerative_k4.csv', index=False)

#agg cluter with k == 6
agg6 = AgglomerativeClustering(n_clusters=6)
agg_labels6 = agg6.fit_predict(scaled_features)
df_agg6 = pd.DataFrame({'Country': countries, 'ClusterID': agg_labels6}).sort_values(by='ClusterID')
df_agg6.to_csv('Agglomerative_k6.csv', index=False)

In [12]:
from sklearn.cluster import DBSCAN

In [13]:
db = DBSCAN(eps=800, min_samples=3)
labels = db.fit_predict(features)

df_dbscan = pd.DataFrame({'country': countries, 'ClusterID': labels}).sort_values(by='ClusterID')
df_dbscan.to_csv('DBSCAN_eps800_min3.csv', index=False)


n_clusters = len(set(labels)) - (1 if -1 in labels else 0)
n_noise = list(labels).count(-1)

print(f"Number of clusters found: {n_clusters}")
print(f"Number of noise points: {n_noise}")

Number of clusters found: 5
Number of noise points: 84

In [18]:
results = []

for eps in range(700, 1000, 100):  # 700, 800, 900
    for min_samples in range(2, 4):  # 2, 3
        db = DBSCAN(eps=eps, min_samples=min_samples)
        labels = db.fit_predict(features)
        
        num_clusters = len(set(labels)) - (1 if -1 in labels else 0)
        num_noise = list(labels).count(-1)

        result_df = pd.DataFrame({'Country': countries, 'ClusterID': labels}).sort_values(by='ClusterID')
        filename = f"DBSCAN_eps{eps}_min{min_samples}.csv"
        result_df.to_csv(filename, index=False)

        results.append((eps, min_samples, num_clusters, num_noise))

In [20]:

print("\nSummary of DBSCAN runs:")
for eps, min_samples, clusters, noise in results:
    print(f"eps={eps}, min_samples={min_samples} == clusters={clusters}, noise points={noise}")

Summary of DBSCAN runs:
eps=700, min_samples=2 == clusters=11, noise points=74
eps=700, min_samples=3 == clusters=6, noise points=84
eps=800, min_samples=2 == clusters=14, noise points=66
eps=800, min_samples=3 == clusters=5, noise points=84
eps=900, min_samples=2 == clusters=14, noise points=60
eps=900, min_samples=3 == clusters=7, noise points=74